<%-include('partials/header')%>

    <main>
        <h1 class="heading">Contact Us</h1>

        <form class="container" id="contactForm">
            <!-- <div class="inputBlock">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" placeholder="Your Name" required>
            </div>

            <div class="inputBlock">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="you@example.com" required>
            </div> -->

            <div class="inputBlock">
                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Share Your Feedback..." rows="5"></textarea>
            </div>

            <button type="submit" id="contactSubmit">Send Message</button>

            <div class="resultContainer" id="contactResult">
                <p id="contactMessage"></p>
            </div>
        </form>
    </main>

    <script src="/script/contact.js"></script>
    <%-include('partials/footer')%>