<%-include('partials/header')%>
     <main>
          <h1 class="heading">Search History</h1>

          <table id="searchTable">
               <thead>
                    <tr>
                         <th>Date</th>
                         <th>Time</th>
                         <th>Amount</th>
                         <th>Country</th>
                         <th>Code</th>
                    </tr>
               </thead>
               <tbody id="tableBody">
                    
               </tbody>
          </table>



          <div id="ifEmpty" class="hide">
               <h3>No searches yet <br> Make Your First Search '<a href="/">Calculate</a>'</h3>
          </div>



     </main>

     <script src="../script/history.js"></script>

     <%-include('partials/footer')%>